<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Karthik's Ceevee</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="static/css/default.css">
	<link rel="stylesheet" href="static/css/layout.css">
   <link rel="stylesheet" href="static/css/media-queries.css">
   <link rel="stylesheet" href="static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="template/favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm karthik Ramalingam.</h1>
            <h3>I'm a Self-taught <span>Python Developer</span> and <span>web designer</span> creating awesome and
            effective Projects through various websites. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
                <li><a href="https://support.google.com/answer/2451065?hl=en"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/in/karthik-ramalingam-3397a11b0/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="static/images/karthik_Ramalingam.png.png" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p> I completed my comprehensive course of a 100-day Python boot camp through Udemy.
                This intensive program has provided me with in-depth knowledge of Python and its associated frameworks and libraries.
                I have gained strong problem-solving skills and a solid understanding of data structures and web development. I am eager to apply this knowledge in a professional setting and am actively seeking opportunities where I can further develop my skills.
                I have a passion for learning new technologies and solving problems with code. I've improved my skills through different platforms, which helps me a lot, and my knowledge of software engineering practices such as coding, testing, code reviews, code comments, etc. I am always eager to take on new challenges and collaborate with other professionals. During my time at the Udemy platform,
                I have acquired skills in Python with projects, which I believe will be beneficial for my role.
                I am confident that it will provide me with valuable experience. I am eager to gain.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Karthik Ramamlingam</span><br>
						   <span>New trichy main road<br>
						         Annathanapatty, Salem-636006 TN
                     </span><br>
						   <span>91+9361263166</span><br>
                     <span>rs.karthik32k@gmail.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
<!--                      <a class="btn line-btn-dark btn-icon btn-radius" href="resume.pdf" title="" download>Download Resume</a>-->
                     <a href="https://drive.google.com/drive/folders/1qVbbWFjLf-sRgI4Za5MRU_H5ThPYWBMu" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Anna University of Life</h3>
                  <p class="info">Bachelor of Engineering <span>&bull;</span> <em class="date">August 2018 - April 2022</em></p>

                  <p>
                      College life is a significant transition from school life, marked by greater freedom, responsibility, and personal growth. I've completed my UG degree at the Knowledge Institute of Technology with a CGPA of 7.99.
                      During the period of college, academically, I performed well. I studied the whole night before the semester, which was hard.
                      But when it comes to covering topics, it is more than the syllabus I covered.
                      In my first semester, I can't believe I cleared all the subjects in the whole class. And got the Student Achievement Award for sem-1 topper,
                      completing courses in civil engineering. AutoCAD, Revit, and StaadPro.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Higher Secondary School</h3>
                  <p class="info">Maths Computer Science <span>&bull;</span> <em class="date">July 2016 - May 2018</em></p>

                  <p>
                  School life is a significant chapter in the book of life. It is a period filled with learning, growth, and transformation.
                      School life begins with a mixture of feelings—excitement for the new experiences that await, nervousness for the challenges ahead, and a sense of curiosity about the world of knowledge.
                      The school bell rings, marking the beginning of a journey that shapes one’s future. Teachers play a pivotal role in this journey. They are not just educators but also mentors who guide students through their academic journey and beyond.
                      They instill values, encourage curiosity, and inspire a love for learning. Examinations, though stressful, teach students the importance of hard work and determination. They are the stepping stones towards academic achievement.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Exotic Innovations Pvt Ltd</h3>
                  <p class="info">Project Engineer<span>&bull;</span> <em class="date">May 2022 - March 2023</em></p>

                  <p>
                      After the internships, I got into the Onsite Project during my company period.
                      I had the opportunity to go to other different states. Preparing, scheduling, coordinating, and monitoring assigned engineering projects.
                      Interacting daily with clients to interpret their needs and requirements representing them in the field and being adaptable and proficient in learning new concepts quickly, passionate about learning and committed to continual improvement.
                      I will always be thankful for the opportunity I have had to improve my skills and gain additional experience at the Hyderabad Micron site and Kerala IBS project site,
                      and I'm thankful for all the opportunities they have provided me during my working time for Exotic Innovations.

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Exotic Innovations Pvd Ltd</h3>
                  <p class="info">Intern-Purchase <span>&bull;</span> <em class="date">November 2021 - May 2022</em></p>

                  <p>
                  I was recruited through the campus interview process. It was an Interior Fitout company.
                      I am excited about working in a new environment and that was my first time in Bangalore.
                      I started working for internships for six months as a purchase coordinator. During the period,
                      I learned oral and written communication skills, and proficiency in Microsoft Office, particularly Excel.
                      Creating new purchase orders to support various projects and their scope in Bangalore.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p> My proficiency in Python is fundamentals and understanding of data types, control structures, functions, exception handling, parallel programming, debugging, testing, and metaprogramming.
                Knowledge of Python frameworks like Django and Flask.
                These frameworks help in build custom solutions without coding from the beginning.
                Experience with databases such as MySQL and PostgreSQL, and this helps with the ability to optimize SQL queries.
                DevOps Tools to familiarity with tools like Seaborn, and Docker for consistent deployments.
                Understanding of web technologies like HTML, CSS, JavaScript, and RESTful APIs, experience with
                machine learning and libraries like Pandas and NumPy and using version control systems like Git

 .
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>SQL</em></li>
                  <li><span class="bar-expand illustrator"></span><em>CSS</em></li>
						<li><span class="bar-expand wordpress"></span><em>API</em></li>
						<li><span class="bar-expand css"></span><em>Python</em></li>
						<li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>GIT</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
<!--                        <div class="link-icon"><i class="icon-plus"></i></div>-->
<!--                     </a>-->

<!--                  </div>-->
<!--          		</div>  &lt;!&ndash; item end &ndash;&gt;-->

<!--            </div> &lt;!&ndash; portfolio-wrapper end &ndash;&gt;-->

<!--         </div> &lt;!&ndash; twelve columns end &ndash;&gt;-->


<!--         &lt;!&ndash; Modal Popup-->
<!--	      -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->


<!--      </div> &lt;!&ndash; row End &ndash;&gt;-->

<!--   </section> &lt;!&ndash; Portfolio Section End&ndash;&gt;-->


   <!-- Call-To-Action Section
   ================================================== -->
<!--   <section id="call-to-action">-->

<!--      <div class="row">-->

<!--         <div class="two columns header-col">-->

<!--            <h1><span>Get Hosting.</span></h1>-->

<!--         </div>-->

<!--         <div class="seven columns">-->

<!--            <h2><span class="lead"></span></h2>-->
<!--            <p><span class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,-->
<!--            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae. </span></p>-->

<!--         </div>-->

<!--         <div class="three columns action">-->



<!--         </div>-->

<!--      </div>-->

<!--   </section> &lt;!&ndash; Call-To-Action Section End&ndash;&gt;-->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                           to do what you believe is great work. And the only way to do great work is to love what you do.
                           If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                           </p>
                           <cite>Steve Jobs</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                       <li>
                        <blockquote>
                           <p>People always fear change. People feared electricity when it was invented, didn't they? People feared coal, they feared gas-powered engines...There will always be ignorance, and ignorance leads to fear.
                               But with time, people will come to accept their silicon masters.
                           </p>
                           <cite>Bill Gates</cite>
                        </blockquote>
                     </li>  <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>The Internet is becoming the town square for the global village of tomorrow.
                           </p>
                           <cite>Bill Gates</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead">“I’m always open to new projects and opportunities, so if you like my work and have a project in mind, please feel free to get in touch. I look forward to hearing from you!”
                  </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="static/images/loader.gif">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Karthik Ramalingam<br>
						   New trichy main road <br>
						   Annathanapatty, Salem 636006 TN<br>
						   <span>91+9361263166</span>
					   </p>

				   </div>

               <div class="widget widget_tweets">

                  <h4 class="widget-title">Projects</h4>

                  <ul id="twitter">
                     <li>
                        <span>
                       All the Projects are Uploaded in GitHub repository.
                        <a href="https://github.com/karthi32k/Projects">GitHub</a>
                        </span>

                     </li>
                  </ul>

		         </div>

            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://support.google.com/answer/2451065?hl=en"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://www.linkedin.com/in/karthik-ramalingam-3397a11b0/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="static/js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="static/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="static/js/jquery.flexslider.js"></script>
   <script src="static/js/waypoints.js"></script>
   <script src="static/js/jquery.fittext.js"></script>
   <script src="static/js/magnific-popup.js"></script>
   <script src="static/js/init.js"></script>

</body>

</html>